body {
	background: url(/images/us-web.jpg);
	background-color: #fdfdfd;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	margin: auto;
	color: #3a3a3a;
}
.wrapper {
	margin: auto;
	margin-top:25%;
}
.content {
	background: #fdfdfd;
}
.view {
	padding: 1em;
}
.container {
	margin: auto;
}
.container ul {
	margin: 0;
}
.mask {
	margin-bottom: -2px;
}
.mask img {
	width: 100%;
	display: block; /* Prevents bg bleed through under image in some browsers */
}
h1 {
	padding: 0;
	margin: 0;
}
.details {
	text-align: center;
	width: 100%;
}
.details .intro {
}
.details span {
	padding: 0.5em;
}
.details p {
	padding: 0;
	margin: 0;
	font-family: 'Monsieur La Doulaise', cursive;
	font-family: 'Herr Von Muellerhoff', cursive;
	font-family: 'Tangerine', cursive;
	font-family: 'Great Vibes', cursive;
	font-size: 2vw;
}
.details p.big {
	font-size: 4vw;
}
.details p.huge {
	font-size: 6vw;
}