<div class="details">
	<div class="intro">
		<p>Together with their families</p>
		<p class="huge">Candace Jean Barr</p>
		<p>and</p>
		<p class="huge">Robert Thomas Moen</p>
		<p>request the pleasure of your company</p>
		<p class="big">Saturdy, the Fourteenth of May</p>
		<p>at</p>
		<p class="big">The Old Ranch, Silver Falls State Park</p>
	</div>
</div>

<form>
	<fieldset class="form-group">
		<label for="partyName">Name of your party</label>
		<input type="text" class="form-control" id="partyName" ng-model="rsvpForm.newRsvp.name" placeholder="Please enter the names of your party">
		<small class="text-muted">So we can mark you down as coming!</small>
	</fieldset>
	<fieldset class="form-group">
		<label for="partyCount">Number of people in your party</label>
		<select class="form-control" id="partyCount" ng-model="rsvpForm.newRsvp.count">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
		<small class="text-muted">So we can be sure to have enough food.</small>
	</fieldset>
	<fieldset class="form-group">
		<label for="emailAddress">Email address</label>
		<input type="email" class="form-control" id="emailAddresss" ng-model="rsvpForm.newRsvp.email" placeholder="Enter email">
		<small class="text-muted">So we can contact you with important information.</small>
	</fieldset>
	<fieldset class="form-group">
		<label for="comments">Comments</label>
		<input type="text" class="form-control" id="comments" ng-model="rsvpForm.newRsvp.comments" placeholder="Tell us what you think">
		<small class="text-muted">Tell us something.</small>
	</fieldset>

	<fieldset class="form-group"><label>Camping</label>
	<div class="checkbox">
		<label><input type="checkbox" ng-model="rsvpForm.newRsvp.camping"> Want to stay in the cabin or camp outside?</label><br />
		<small class="text-muted">If so, please bring camp and sleeping gear. The cabin is equipped with wooden bunk beds, so bring your own bedding. Or feel free to bring your own tent and warm stuff should you wish to camp under the stars.</small>
	</div>
	</fieldset>

	<fieldset class="form-group">
		<label>Directions</label><br />
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8672.997046630755!2d-122.6372491035455!3d44.87254800837383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x3c8e171371e2d033!2sOld+Ranch!5e1!3m2!1sen!2sus!4v1459805176546" width="100%" height="450vw" frameborder="0" style="border:0" allowfullscreen></iframe>
	</fieldset>
	<button ng-click="rsvpForm.addReservation()">RSVP!</button>
</form>
